<dom-module id="anubis-menu-main">
  <template>
  <!--<style include="custom-styles"></style>-->
  <link rel="import" href="/styles/custom-theme.css" type="css">
  <style>
    paper-menu[id^="menu2"] paper-item {
      padding-left: 30px;
      font-size: 14px;
      padding-bottom: 10px;
      padding-top: 10px;
    }
    paper-menu[id^="menu3"] paper-item {
      padding-left: 60px;
      padding-bottom: 10px;
      padding-top: 10px;
    }




  </style>
  <paper-menu id="menu11" attr-for-selected="proute" selected="{{pageSelected1}}" >
    <paper-item proute="introduction">Introduction</paper-item>
    <hr class="hr-menu">
    <paper-menu>
      <paper-item proute="guidelines">Guidelines</paper-item>
    </paper-menu>
    <paper-submenu>
      <paper-item class="menu-trigger">
          <span class="flex">Completing Parts I and II</span>
          <iron-icon icon="expand-more"></iron-icon>
      </paper-item>
      <paper-menu class="menu-content sublist" id="menu21"  attr-for-selected="proute" selected="{{pageSelected21}}">
        <paper-item proute="part1">Part I</paper-item>
        <paper-item proute="part2">Part II</paper-item>
      </paper-menu>
    </paper-submenu>
    <hr class="hr-menu">
    <paper-submenu>
      <paper-item class="menu-trigger">
          <span class="flex">Examples</span>
          <iron-icon icon="expand-more"></iron-icon>
      </paper-item>
      <paper-menu class="menu-content sublist" id="menu23"  attr-for-selected="proute" selected="{{pageSelected23}}">
        <paper-item proute="ch1">48-year-old Male with Cramping</paper-item>
        <paper-item proute="ch2">68-year-old Male with Progressive Lower Quadrant Pain</paper-item>
        <paper-item proute="ch3">75-year-old Male Complaining of Severe Chest Pain</paper-item>
        <paper-item proute="ch4">68-year-old Female with dyspnea and Moderate Retrosternal Pain</paper-item>
        <paper-item proute="ch5">78-year-old Female with Temperature of 102.6F</paper-item>
        <paper-item proute="ch6">34-year-old Male with Severe Shortness of Breath</paper-item>
        <paper-item proute="ch7">75-year-old Male with History of Chronic Bronchitis</paper-item>
        <paper-item proute="ch8">75-year-old Female with History of Diabetes Mellitus, Hypertension, and Myocardial Ingfraction</paper-item>
        <paper-item proute="ch9">53-year-old Male with Intermittent Midpigastric, and Left-Sided Chest Pain</paper-item>
        <paper-item proute="ch10">1480-gram Male Infant at 32 Weeks Gestation to a 20-year-old Primiparious Woman</paper-item>
        <paper-item proute="ch11">30-year-old garvida-six, para-five, with a History of Gestational Hypertension</paper-item>
        <paper-item proute="ch12">92-year-old Male Found Dead</paper-item>
        <paper-item proute="ch13">102-yeal-old Female with Sudden Onset of Speec Abnormality</paper-item>
      </paper-menu>
    </paper-submenu>
    <hr class="hr-menu">
    <!-- <paper-submenu>
      <paper-item class="menu-trigger">
        <span class="flex">Certification Examples</span>
        <iron-icon icon="expand-more"></iron-icon>
      </paper-item>
      <paper-menu class="menu-content sublist" id="menu22"  attr-for-selected="proute" selected="{{pageSelected22}}">
        <paper-submenu>
        <paper-item class="menu-trigger">
          <span class="flex">Good</span>
        <iron-icon icon="expand-more"></iron-icon>
        </paper-item>
          <paper-menu class="menu-content sublist" id="menu31" attr-for-selected="proute" selected="{{pageSelected31}}">
            <paper-item proute="5.3.1">5.3.1</paper-item>
            <paper-item proute="5.3.2">5.3.2</paper-item>
            <paper-item proute="5.3.3">5.3.3</paper-item>
          </paper-menu>
        </paper-submenu>
        <paper-submenu>
          <paper-item class="menu-trigger">
          <span class="flex">Bad</span>
        <iron-icon icon="expand-more"></iron-icon>
        </paper-item>
          <paper-menu class="menu-content sublist" id="menu31" attr-for-selected="proute" selected="{{pageSelected31}}">
            <paper-item proute="5.3.1">5.3.1</paper-item>
            <paper-item proute="5.3.2">5.3.2</paper-item>
            <paper-item proute="5.3.3">5.3.3</paper-item>
          </paper-menu>
        </paper-submenu>
      </paper-menu>
    </paper-submenu>
    <hr class="hr-menu"> -->
<!--     <paper-submenu>
      <paper-item class="menu-trigger">
          <span class="flex">Common Problems</span>
        <iron-icon icon="expand-more"></iron-icon>
        </paper-item>
      <paper-menu class="menu-content sublist" id="menu22"  attr-for-selected="proute" selected="{{pageSelected22}}">
        <paper-item proute="4.1">Uncertainty</paper-item>
        <paper-item proute="4.2">Advanced Age</paper-item>
        <paper-item proute="4.1">Infants</paper-item>
        <paper-submenu>
          <paper-item class="menu-trigger">
          <span class="flex">Disease</span>
        <iron-icon icon="expand-more"></iron-icon>
        </paper-item>
          <paper-menu class="menu-content sublist" id="menu31" attr-for-selected="proute" selected="{{pageSelected31}}">
            <paper-item proute="5.3.1">Abscess</paper-item>
            <paper-item proute="5.3.2">Abdominal Hemorrhage</paper-item>
            <paper-item proute="5.3.3">ARDS</paper-item>
            <paper-item proute="5.3.3">Acute MI</paper-item>
            <paper-item proute="5.3.3">Altered Mental Status</paper-item>
          </paper-menu>
        </paper-submenu>
      </paper-menu>
    </paper-submenu>
    <hr class="hr-menu"> -->
    <paper-submenu>
      <paper-item class="menu-trigger">
          <span class="flex">Common Problems</span>
        <iron-icon icon="expand-more"></iron-icon>
        </paper-item>
      <paper-menu class="menu-content sublist" id="menu22"  attr-for-selected="proute" selected="{{pageSelected22}}">
        <paper-item proute="punc">Uncertainty</paper-item>
        <paper-item proute="paa">Advanced Age</paper-item>
        <paper-item proute="pinf">Infants</paper-item>
        <paper-item proute="pcs">Complex Situations</paper-item>
      </paper-menu>
    </paper-submenu>
    <!-- <hr class="hr-menu">
    <paper-item proute="6">Tips/Tricks</paper-item> -->
    <hr class="hr-menu">
    <paper-item proute="addresource">Additional Resources</paper-item>
    <hr class="hr-menu">
    <!-- <paper-item proute="3">FAQ</paper-item> -->
  </paper-menu>

  </template>
</dom-module>

<script>
  Polymer({
    is: 'anubis-menu-main',
    properties: {
      menuSelected: {
          type: String,
          notify: true,
          reflectToAttribute: true
        },
      pageSelected1: {
          type: String,
          observer: '_pageSelectedChanged',
          //notify: true
        },
      pageSelected21: {
          type: String,
          observer: '_pageSelectedChanged',
          //notify: true
        },
      pageSelected22: {
          type: String,
          observer: '_pageSelectedChanged',
          //notify: true
        },
      pageSelected23: {
          type: String,
          observer: '_pageSelectedChanged',
          //notify: true
        },
      pageSelected31: {
          type: String,
          observer: '_pageSelectedChanged',
          //notify: true
        }
    },
    _pageSelectedChanged: function(newIndex, oldIndex) {
      if(newIndex!=null)
      {
        // console.log("selected",newIndex,oldIndex);
        // console.log("menu1",this.$.menu1.selected);
        // console.log("menu21",this.$.menu21.selected);
        // console.log("menu22",this.$.menu22.selected);
        // console.log("menu31",this.$.menu31.selected);
        if(newIndex==null)
        {
          this.menuSelected=oldIndex;
        }
        else
        {
          this.menuSelected=newIndex;
          var mainDrawer=document.querySelector('#mainDrawer');
          mainDrawer.closeDrawer();
        }
        this.clearOldSelections();
      }
    },
    clearOldSelections: function(){
      //console.log("clearOldSelections");
      if(this.$.menu11.selected!=this.menuSelected)
      {
        this.$.menu11.selected=null
      }
      if(this.$.menu21.selected!=this.menuSelected)
      {
        this.$.menu21.selected=null
      }
      if(this.$.menu22.selected!=this.menuSelected)
      {
        this.$.menu22.selected=null
      }
      if(this.$.menu23.selected!=this.menuSelected)
      {
        this.$.menu23.selected=null
      }
      // if(this.$.menu31.selected!=this.menuSelected)
      // {
      //   this.$.menu31.selected=null
      // }
    }
  });
</script>
