<div>
    <p>
        When reporting drug-related deaths, always specify the substance or substances involved.
        If multiple drugs are involved, be sure to name each drug. Please do not report brand names.
        Verify the spelling of the name of each drug. If applicable, specify the drug, not a metabolite of the drug.
        For example, avoid reporting morphine by itself, but instead indicate heroin or pharmaceutical morphine as appropriate.
        If a specific drug could not be determined, report the class of drug, if possible.
        Avoid broad terms like "drug," "medicine," "multidrug," "polysubstances," or "polypharmacy," if possible.
        In the case of a drug overdose or poisoning, the medical examiner or coroner should be contacted. To see an example,
        please click <a ui-sref="app.sidemenu({menuItemUrl:'anubis-examples-ch1.html'})">here</a>.
    </p>
</div>