<div>
    <p>
        If the immediate cause of death arose from or as a complication of an error or accident in surgery or other medical procedure or treatment, it is important to report:
    </p>

    <ol>
        <li>the result of the complication or error,</li>
        <li>the complication or error, and</li>
        <li>the medical procedure was performed, and</li>
        <li>what condition was being treated.</li>
    </ol>
    <p>
        In some jurisdictions, it may be required to report these deaths to the medical examinier or coroner.</p>
    </p>

</div>