<div>
  <p>
    When indicating neoplasms as a cause of death, include the following:
  </p>

  <ul>
    <li>the primary site or that the primary site is unknown,</li>
    <li>whether benign or malignant, and</li>
    <li>any secondary sites of metastases, if applicable.</li>
  </ul>
  <br>
  <p>
    If known, also indicate the cell type, grade and/or stage, and the part or lobe of the organ affected.  For example, a well-defined squamous cell carcinoma of the left lung, upper lobe. To see an example, please click <a ui-sref="app.sidemenu({menuItemUrl:'anubis-examples-ch2.html'})">here</a>.
  </p>

</div>
