<div>
    <p>
        When indicating neoplasms as a cause of death, include the following:
    </p>

    <ol>
        <li>the primary site or that the primary site is unknown,</li>
        <li>any secondary sties of metastases, if applicable, and</li>
        <li>whether benign or malignant.</li>
    </ol>
    <p>
        If known, also indicate the cell type, grade and/or stage, and the part or lobe of the organ affected.  For example, a well-defined squamous cell carcinoma of the left lung, upper lobe. To see an example, please click <a ui-sref="app.sidemenu({menuItemUrl:'anubis-examples-ch2.html'})">here</a>.
    </p>

</div>