<div>
    <p>
        Diabetes mellitus may be reported as a cause of death, either as one of the direct causes of death in Part I or
        as a contributing cause of death in Part II.  When indicating diabetes as a cause of death, specify whether Type I
        (and whether immune-mediated or idiopathic), Type II, gestational diabetes, monogenic diabetes (and whether neonatal
        diabetes or maturity-onset diabetes of the young [MODY]), or some other specific type of diabetes, if possible. To see an example, please click <a ui-sref="app.sidemenu({menuItemUrl:'anubis-examples-ch8.html'})">here</a>.
    </p>
</div>