 <ion-popover-view class="fit">
    <ion-content>
      <ion-list>
           <ion-item class="item-stable"  ui-sref ="app.sidemenu({menuItemUrl:'anubis-aboutus.html'})" ui-sref-active="active" ng-click="closePopover();">
           		About Us
    		</ion-item>
        <ion-item class="item-stable"  ui-sref ="app.sidemenu({menuItemUrl:'privacy-policy.html'})" ui-sref-active="active" ng-click="closePopover();">
          Mobile Privacy Policy
        </ion-item>
        <ion-item class="item-stable"  ui-sref ="app.sidemenu({menuItemUrl:'disclaimer.html'})" ui-sref-active="active" ng-click="closePopover();">
          Disclaimer
        </ion-item>
      </ion-list>
    </ion-content>
</ion-popover-view>
