<ion-view>
  <ion-content class="padding">
<div class="page-container">
            <!--<style include="custom-styles"></style>-->
            <span class="page-title">Autopsy</span>
            <hr class="hr" />

            <!-- <span class="section-title">Welcome!</span> -->
            <span class="section-paragraph">
            <br/>
            <p>
              <div>
                <img alt="autopsy section" ng-src="images/Autopsy.png" ng-click="showImages(1,'images/Autopsy.png')" class="image-list-thumb"/>
              </div>
            </p>
            <br/>
          <p>It should be indicated whether an autopsy was performed and whether the findings were available to complete the cause of death section. </p>
          <p>Check “Yes” if either a partial or full autopsy was performed.  Otherwise, check “No.”</p>
          <p>Check “Yes” if autopsy findings were available to complete the cause of death section; otherwise, check “No.” Leave this item blank if no autopsy was performed.</p>

        </span>
        </div>
    </ion-content>
  </ion-view>
