<ion-view>
  <ion-content class="padding">
    <div class="page-container">

      <span class="page-title">Possible Injuries or Poisonings</span>
      <hr class="hr" />
      <!-- 	<span class="section-title">Complex Situations</span> -->
      <span class="section-paragraph">
        <p>Some deaths appear to be due to natural causes, but may need to be reported to the medical examiner or coroner.  The following conditions and types of death might seem specific or natural:</p>
        <p>
          <ul>
            <li>asphyxia,</li>
            <li>bolus,</li>
            <li>choking,</li>
            <li>drug/alcohol overdose or drug/alcohol abuse,</li>
            <li>epidural hematoma,</li>
            <li>exsanguination,</li>
            <li>fall,</li>
            <li>fracture,</li>
            <li>hip fracture,</li>
            <li>hyperthermia,</li>
            <li>hypothermia,</li>
            <li>open reduction of fracture,</li>
            <li>paralysis,</li>
            <li>pulmonary emboli,</li>
            <li>seizure disorder,</li>
            <li>sepsis,</li>
            <li>subarachnoid hemorrhage,</li>
            <li>subdural hematoma,</li>
            <li>surgery, and</li>
            <li>thermal burns/chemical burns.</li>
          </ul>

        </p>
        <p>
          However, when the medical history is examined further, they may be found to be complications of an injury or poisoning, possibly occurring long ago.
        </p>
      </span>
    </div>
  </ion-content>
</ion-view>
