<ion-view>
  <ion-content class="padding">
    <div class="page-container">
      <!--<style include="custom-styles"></style>-->
      <span class="page-title">Infants</span>
      <hr class="hr" />
      <!-- <span class="section-title">Infants</span> -->
			<span class="section-paragraph">
			<p>
			The infant decedent should have a clear and distinct etiological sequence for the cause of death, if possible. "Prematurity" should not be entered without explaining the etiology of prematurity. Maternal conditions may have initiated or affected the sequence that resulted in the infant’s death, and such maternal causes should be reported in addition to the infant causes on the infant’s death certificate (e.g., hyaline membrane disease <i>due to</i> prematurity, 28 weeks <i>due to</i> placental abruption <i>due to</i> blunt trauma to mother’s abdomen).
			</p>
			<p>
			When a sudden and unexpected death in infancy occurs, a complete death investigation should be conducted by a medical examiner or coroner.  In some jurisdictions, all infnat deaths are required to be
				reported to the medical examiner or coroner.
			</p>
		</span>

    </div>
  </ion-content>
</ion-view>
