<ion-view>
  <ion-content class="padding">
    <div class="page-container">
      <!--<style include="custom-styles"></style>-->
      <span class="page-title">Pregnancy</span>
      <hr class="hr" />
      <!-- <span class="section-title">Welcome!</span> -->
      <span class="section-paragraph">
        <br />
        <p>
          <div>
            <img alt="Pregnancy Section" id="imgP" ng-src="images/Pregnancy.png" ng-click="showImages(1,'images/Pregnancy.png')" class="image-list-thumb" />
          </div>
        </p>
        <br />
        <p>
          If the decedent was female, indicate whether she was pregnant within the year prior to death.  If so, indicate if she was pregnant at the time of death, within 42 days of death, within 43 days to 1 year prior to death, or however specified in your jurisdiction.
        </p>
      </span>

    </div>
  </ion-content>
</ion-view>

