<!-- <link rel="import" href="/styles/custom-theme.html"> -->
<ion-view>
  <ion-content class="padding">
    <div class="page-container">
      <!--<style include="custom-styles"></style>-->
      <span class="page-title">75-year-old Male Complaining of Severe Chest Pain</span>
      <hr class="hr" />
      <!-- <span class="section-title">75-year-old Male Complaining of Severe Chest Pain</span> -->
            <span class="section-paragraph">
<p>
A 75-year-old male was admitted to the hospital complaining of severe chest pain. He had a 10-year history of arteriosclerotic heart disease with EKG findings of myocardial ischemia and several episodes of congestive heart failure controlled by digitalis preparations and diuretics. Five months before this admission, the patient was found to be anemic, with a hematocrit of 17, and to have occult blood in the stool. A barium enema revealed a large polypoid mass in the cecum diagnosed as carcinoma by biopsy. Because of the patient’s cardiac status, he was not considered to be a surgical candidate. Instead, he was treated with a 5-week course of radiation therapy and periodic packed red cell transfusions. He completed this course 3 months before this hospital admission. On this admission the EKG was diagnostic of an acute anterior wall myocardial infarction. He expired 2 days later.
</p>
<br/>

    <p>
        <div>
         <img ng-src="images/Example3.png" ng-click="showImages(0,'images/Example3.png')" class="image-list-thumb"/>
      </div>
    </p>

<p>
    <br/>
<i>
Notes on death certification:<br/>
Acute myocardial infarction, listed in Part I, line (a) as the immediate cause of death, is a direct consequence of arteriosclerotic heart disease, the underlying cause listed in Part I, line (b). Carcinoma of cecum is listed in Part II because it caused anemia and weakened the patient, but it did not cause arteriosclerotic heart disease. Congestive heart failure is listed in Part II because it also weakened the patient. Although it was caused by the arteriosclerotic heart disease, it was not part of the causal sequence leading to the acute myocardial infarction.
</i>
</p>
		</span>

    </div>

  </ion-content>
</ion-view>
