<ion-view>
  <ion-content class="padding">
    <div class="page-container">
      <!--<style include="custom-styles"></style>-->
      <span class="page-title">92-year-old Male Found Dead</span>
      <hr class="hr" />
      <!-- <span class="section-title">92-year-old Male Found Dead</span> -->
            <span class="section-paragraph">
<p>A 92-year-old male was found dead in bed. He had no significant medical history. Autopsy disclosed minimal coronary disease and generalized atrophic changes commonly associated with aging. No specific cause of death was identified. Toxicology was negative.
</p>
<br/>
    <p>
        <ion-scroll>
              <img ng-src="images/Example12.png" ng-click="showImages(1,'images/Example12.png')" class="image-list-thumb"/>
         </ion-scroll>
    </p>

<p>
    <br/>
<i>
Notes:<br/>
In some cases, no compelling cause of death presents itself. It is acceptable to indicate that a thorough investigation was performed, but that no cause could be determined.
</i>
</p>
		</span>

    </div>
  </ion-content>
</ion-view>
