<ion-view>
  <ion-content class="padding">
  <ion-scroll zooming="true" direction="xy" overflow-scroll="false" min-zoom="1">
    <div class="page-container">
      <span class="page-title">Additional Resources</span>
      <hr class="hr"/>
      <!-- <span class="section-title">Purpose</span> -->
		<span class="section-paragraph">
			<p>Additional resources can be found through the following links:</p>
      <br>
      <p style="text-indent:20px;">
        <b>Instructions for Certifying Cause of Death</b>
        <ul><li><a role="link" ng-click="openUrl('http://www.cdc.gov/nchs/data/dvs/blue_form.pdf')">Instructions for Completing the Cause of Death Section of the Death Certificate</a></li>
            <li><a role="link" ng-click="openUrl('http://www.cdc.gov/nchs/data/dvs/red_form.pdf')">Instructions for Completing the Cause of Death Section of the Death Certificate for Injury and Poisoning</a></li>
        </ul>
      </p>

			<p style="text-indent:20px;">
				<b>Handbooks</b><br>
      <ul>
					<li><a role="link" ng-click="openUrl('http://www.cdc.gov/nchs/data/misc/hb_cod.pdf')">Physician’s Handbook on Medical Certification of Death</a></li>
					<li><a role="link" ng-click="openUrl('http://www.cdc.gov/nchs/data/misc/hb_me.pdf')">Medical Examiners’ and Coroners’ Handbook on Death Registration and Fetal Death Reporting</a></li>
      </ul>
		  </p>
			<p style="text-indent:20px;">
				<b>Other Webpages</b><br>
      <ul>
					<li><a role="link" ng-click="openUrl('http://www.cdc.gov/nchs/nvss/writing-cod-statements/death_certification_problems.htm')">Possible Solutions to Common Problems in Death Certification</a></li>
					<li><a role="link" ng-click="openUrl('http://www.cdc.gov/nchs/nvss/writing_cod_statements.htm')">Writing Cause of Death Statements</a></li>
					<li><a role="link" ng-click="openUrl('http://www.cdc.gov/nchs/deaths.htm')">Mortality Data</a></li>
      </ul>
		  </p>
		</span>
    </div>
    </ion-scroll>
  </ion-content>
</ion-view>
