<ion-view>
  <ion-content class="padding">
    <div class="page-container">
      <span class="page-title">Uncertainty</span>
      <hr class="hr" />
      <!-- <span class="section-title">Uncertainty</span> -->
			<span class="section-paragraph">
				<p>
					Often several acceptable ways of writing a cause of death statement exist. Ideally, a certifier will be able to provide a simple description of the process leading to death that is etiologically clear and be confident that it is the correct sequence of causes. Realistically, a description of the process is sometimes difficult because the certifier is not certain.
				</p>

				<p>
				In this case, the certifier should think through the causes that he or she is confident contributed to the death and the possible etiologies that could have resulted in these conditions. The certifier should select the causes that he or she is not completely certain of and use words such as:


					<li>probable or</li>
					<li>presumed.</li>

        </p>

				<p>
				If the initiating condition reported on the death certificate could have arisen from another condition, but the certifier cannot determine the etiology, he or she should state that the etiology is:

					<li>unknown,</li>
					<li>undetermined, or</li>
					<li>unspecified.</li>

        </p>

				<p>
				In cases where the certifier is unable to establish a cause of death based upon reasonable medical certainty, he or she should enter ‘‘unknown’’ in the cause of death section. However, this should be done only after all efforts have been made to determine the cause of death. An autopsy should be performed, if possible. Reporting a cause of death as unknown should be a last resort.
				</p>
		</span>

    </div>
  </ion-content>
</ion-view>
