<ion-view>
  <ion-content class="padding">
    <div class="page-container">
		<!--<style include="custom-styles"></style>-->
		<span class="page-title">Guidelines</span>
		<hr class="hr"/>
		<span class="section-title">General Instructions for Completing Death Certificates</span>
		<span class="section-paragraph">
			<p>Death certificates are permanent legal records from which official copies
			are made. It is essential that the certificate be prepared accurately. Funeral
			directors are responsible for completing most of the information on
			the death certificate with the assistance of an informant who is usually a
			family member.
			</p>
			Completing a death certificate involves the following guidelines:
			<ul>
			<li>Use the current form designated by the State.</li>
			<li>Complete each item, following the specific instructions for that item.</li>
			<li>Make the entry legible. Use a computer printer with high resolution,
			typewriter with good black ribbon and clean keys, or print legibly using
			permanent black ink.</li>
			<li>Do not use abbreviations except those recommended in the specific
			item instructions.</li>
			<li>Verify with the informant the spelling of names, especially those that
			have different spellings for the same sound (Smith or Smyth, Gail or
			Gayle, Wolf or Wolfe, and so forth).</li>
			<li>Refer problems not covered in these instructions to the State office of
			vital statistics or to the local registrar.</li>
			<li>Obtain all signatures; rubber stamps or other facsimile signatures are
			not acceptable. If jurisdiction provides, authenticate electronically.</li>
			<li>Do not make alterations or erasures.</li>
			<li>File the original certificate or report with the registrar. Reproductions
			or duplicates are not acceptable.</li>
			</ul>
			<p>
			Most States require that the death certificate be completed and filed within
			a specified time period. Physicians are expected to use medical training,
			knowledge of medicine, available medical history, symptoms, diagnostic
			tests, and autopsy results, if available, to determine the cause of death.
			Generally, it is possible to file a certificate with the cause of death listed as
			pending or pending further study. This is especially useful when additional
			7
			investigation such as autopsy results are expected, but it obligates the
			attending physician to update the original information after the additional
			information becomes available.
			</p>
		</span>
		<span class="section-title">Medical Certification of Death</span>
		<span class="section-paragraph">
<p>The physician’s primary responsibility in death registration is pronouncing
the death and, when he or she is the attending physician, reporting
cause of death. The medical part of the certificate includes:</p>
<ul>
<li>Date and time pronounced dead</li>
<li>Date and time of death</li>
<li>Question on whether the case was referred to the medical examiner or
coroner</li>
<li>Cause-of-death section including cause of death, manner of death,
tobacco use, and females’ pregnancy status items</li>
<li>Injury items for cases involving injuries</li>
<li>Certifier section with signatures</li>
</ul>
<p>In most cases, a physician will both pronounce death and certify or report
the cause of death. A different physician will pronounce death only when
the attending physician is unavailable to certify the cause of death at the
time of death and if State law provides for this option. If an inquiry is
required by a State Post-Mortem Examinations Act, a medical examiner or
coroner is responsible for determining cause of death (4).
</p>

<b>Pronouncing date and time of death</b>
<p>
Items 24 and 25 must be completed by the person who pronounces death.
This may be the pronouncing physician, pronouncing/certifying physician,
or the medical examiner or coroner. For cases involving a pronouncing
physician different from the certifying physician, the pronouncing
physician must also complete items 26–28.
</p>
<b>Cause of death</b>
<p>
This section must be completed by either the attending physician, the
medical examiner, or the coroner. The cause-of-death section, a facsimile
of which is shown below, follows guidelines recommended by the World
Health Organization. An important feature is the reported underlying cause of death determined by the certifying physician and defined as (a) the
disease or injury that initiated the train of morbid events leading directly
to death, or (b) the circumstances of the accident or violence that produced
the fatal injury. In addition to the underlying cause of death, this section
provides for reporting the entire sequence of events leading to death as
well as other conditions significantly contributing to death (5).
</p>
<p>
The cause-of-death section is designed to elicit the opinion of the medical
certifier. Causes of death on the death certificate represent a medical
opinion that might vary among individual physicians. A properly completed
cause-of-death section provides an etiologic explanation of the order,
type, and association of events resulting in death. The initial condition
that starts the etiologic sequence is specific if it does not leave any doubt
as to why it developed. For example, sepsis is not specific because a
number of different conditions may have resulted in sepsis, whereas human
immunodeficiency virus syndrome is specific.
</p>
<p>
	<!-- <img class="container" src="img/image1.png" ng-click="showImage()"/> -->
	<ion-scroll direction="xy">
         <img ng-src="images/image1.png" ng-click="showImages(0,'images/image1.png')" class="image-list-thumb"/>
    </ion-scroll>
<p>


In certifying the cause of death, any disease, abnormality, injury, or poisoning,
if believed to have adversely affected the decedent, should be
reported. If the use of alcohol and/or other substance, a smoking history,
a recent pregnancy, injury, or surgery was believed to have contributed to
death, then this condition should be reported. The conditions present at
the time of death may be completely unrelated, arising independently of
each other; they may be causally related to each other, that is, one condition
may lead to another which in turn leads to a third condition; and so
forth. Death may also result from the combined effect of two or more
conditions.
</p>
<p>
As can be seen, the cause-of-death section consists of two parts. The first
part is for reporting the sequence of events leading to death, proceeding
backwards from the final disease or condition resulting in death. So each
condition in Part I should cause the condition above it. A specific cause of
death should be reported in the last entry in Part I so there is no ambiguity
about the etiology of this cause. Other significant conditions that contributed
to the death, but did not lead to the underlying cause, are reported in
Part II.
</p>
<p>
In addition, there are questions relating to autopsy, manner of death (for
example, accident), and injury. The cause of death should include information
provided by the pathologist if an autopsy or other type of postmortem
examination is done. For deaths that have microscopic examinations
pending at the time the certificate is filed, the additional information
should be reported as soon as it is available. If the physician has any
questions about the procedure for doing this, he or she should contact his
or her State registrar.
</p>
<p>
For statistical and research purposes, it is important that the causes of
death and, in particular, the underlying cause of death be reported as
specifically and as precisely as possible. Careful reporting results in statistics
for both underlying and multiple causes of death (i.e., all conditions
mentioned on a death certificate) reflecting the best medical opinion.
</p>
<p>
Every cause-of-death statement is coded and tabulated in the statistical
offices according to the latest revision of the International Classification of
Diseases (5). When there is a problem with the reported cause of death
(e.g., when a causal sequence is reported in reverse order), the rules
provide a consistent way to select the most likely underlying cause. However,
it is better when rules designed to compensate for poor reporting are
not invoked so that the rules are confirming the physician’s statement
rather than imposing assumptions about what the physician meant.
</p>
<p>
Statistically, mortality research focuses on the underlying cause of death
because public health interventions seek to break the sequence of causally
related medical conditions as early as possible. However, all cause information
reported on death certificates is important and is analyzed.
</p>
<p>
In the sections that follow, detailed instructions on how to complete Parts
I and II are given. A number of examples of properly completed certificates
with case histories are provided in this section to illustrate how the cause
of death should be reported. Some common problems are also discussed
later in this section.
</p>
<b>Changes to cause of death</b>
<p>
Should additional medical information or autopsy findings become available
that would change the cause or causes of death originally reported,
the certifying physician should amend the original death certificate by
immediately reporting the revised cause of death to the State vital records
office or local registrar.
</p>
<b>Instructions</b>
<p>
The cause-of-death section consists of two parts. Part I is for reporting a
chain of events leading directly to death, with the immediate cause of
death (the final disease, injury, or complication directly causing death) on
line (a) and the underlying cause of death (the disease or injury that
initiated the chain of events that led directly and inevitably to death) on the
lowest used line. Part II is for reporting all other significant diseases,
conditions, or injuries that contributed to death but which did not result
in the underlying cause of death given in Part I.
</p>
<p>
The cause-of-death information should be the physician’s best medical
OPINION. Report each disease, abnormality, injury, or poisoning that
the physician believes adversely affected the decedent. A condition can be
listed as ‘‘probable’’ if it has not been definitively diagnosed.
</p>
<p>
If an organ system failure such as congestive heart failure, hepatic failure,
renal failure, or respiratory failure is listed as a cause of death, always
report its etiology on the line(s) beneath it (for example, renal failure due to
Type I diabetes mellitus).
</p>
<p>
When indicating neoplasms as a cause of death, include the following: 1)
primary site or that the primary site is unknown, 2) benign or malignant,
3) cell type or that the cell type is unknown, 4) grade of neoplasm, and 5)
part or lobe of organ affected. (For example, a primary well-differentiated
squamous cell carcinoma, lung, left upper lobe.)
</p>
<p>
For each fatal injury (for example, stab wound of chest), always report the
trauma (for example, transection of subclavian vein), and impairment of
function (for example, air embolism) that contributed to death.
</p>
	</span>
</div>
</ion-content>
</ion-view>




<!-- // <script>
// Polymer({
// 	is:"anubis-guidelines",
// 	openDialog: function(){
//         var dialog = document.getElementById("backdrop");
//         if (dialog) {
//           dialog.open();
//         }
// 	},
// 	patchOverlay: function (e) {
//   		if (e.target.withBackdrop) {
//     	e.target.parentNode.insertBefore(e.target._backdrop, e.target);
//   }
// },

// });

// </script> -->
