<ion-view>
  <ion-content class="padding">
    <div class="page-container">
      <!--<style include="custom-styles"></style>-->
      <span class="page-title">Pronouncing Death</span>
      <hr class="hr" />
      <!-- <span class="section-title">Pronouncing Date and Time of Death</span> -->
      <span class="section-paragraph">
        <p>
          If applicable, the <b>date and time pronounced dead</b> must be completed by the person who pronounces death. <span><a ng-show="!moreA" class="more" ng-click="toggleMoreA()">Show More</a></span> <span ng-show="moreA">This may be the pronouncing physician, pronouncing/certifying physician, or the medical examiner or coroner. Spell out the name of the month. Use four digits for the year. Enter the exact hour and minutes according to a 24-hour clock. Estimates may be provided with “Approx.” placed before the time. <a class="more" ng-click="toggleMoreA()">Show Less</a></span>
      </span>

      <p>If applicable, the <b>signature of person pronouncing death, license number, and date signed</b> only need to be completed by the pronouncing physician when the pronouncing physician is different from the certifying physician.</p>

      <p>
        For the <b>actual or presumed date and time of death</b>, spell out the name of the month and use four digits for the year. <span ng-show="!moreB"><a class="more" ng-click="toggleMoreB()">Show More</a></span><span ng-show="moreB">
          If the exact date of death is unknown, enter the approximate or estimated date with "Approx." or "Est." placed before the date.
          If the date cannot be approximated, enter the date the body was found and identify it as "date found." Enter the exact hour and minutes for time of death according to a 24-hour clock.
          Estimates may be provided with “Approx.” or "Est." placed before the time. <a class="more" ng-click="toggleMoreB()" )>Show Less</a>
        </span>
      </p>

      <p>Indicate whether the <b>medical examiner or coroner was contacted</b> by checking “Yes” or “No.” In cases of accidents, suicides, or homicides, the medical examiner or coroner must be contacted. These cases that should be reported to the medical examiner or coroner include deaths due to injuries, poisonings, and complications thereof.</p>

      </span>
    </div>
  </ion-content>
</ion-view>
