<ion-view>
  <ion-content class="padding">
  <ion-scroll zooming="true" direction="xy" overflow-scroll="false" min-zoom="1">
<!--   <link rel="import" href="/styles/custom.css" type="css">
  <link rel="import" href="/styles/custom-theme.css" type="css"> -->
    <div class="page-container">
      <span class="page-title">Tobacco Use</span>
      <hr class="hr" />
      <!-- <span class="section-title">Welcome!</span> -->
    <span class="section-paragraph">
    <br/>
    <p>
      <div>
                <img alt="Tobacco Section" id="imgT" ng-src="images/Tobacco.png" role="link" ng-click="showImages(1,'images/Tobacco.png')" class="image-list-thumb"/>
      </div>
    </p>
    <br/>
      <p>
      	Check "Yes" if the use of tobacco contributed to death. Tobacco use may contribute to deaths from a wide variety of diseases. Check "No" if tobacco use did not contribute to the death.
          Check "Probably" if the use of the tobacco probably contributed to death.  Check "Unknown" if it is unknown whether the use of tobacco contributed to death.
      </p>
    </span>
    </div>

</ion-scroll>
</ion-content>
</ion-view>
