<ion-view>
  <ion-content class="padding">
    <div class="page-container">
      <!--<style include="custom-styles"></style>-->
      <span class="page-title">34-year-old Male with Severe Shortness of Breath</span>
      <hr class="hr" />
      <!-- <span class="section-title">34-year-old Male with Severe Shortness of Breath</span> -->
            <span class="section-paragraph">
<p>A 34-year-old male was admitted to the hospital with severe shortness of breath. He had a 9-month history of unintentional weight loss, night sweats, and diarrhea. The patient had no history of any medical condition that would cause immunodeficiency. An Elisa test and confirmatory Western Blot test for human immunodeficiency virus (HIV) were positive. T-lymphocyte tests indicated a low T helper -suppressor ratio. A lung biopsy was positive for pneumocystis carinii pneumonia (PCP), indicating a diagnosis of acquired immunodeficiency syndrome (AIDS). The patient’s pneumonia responded to pentamidine therapy, and the patient was discharged. The patient had two additional admissions for PCP. Seventeen months after the patient was first discovered to be HIV positive, he again developed PCP, but did not respond to therapy. He died 2 weeks later.
</p>
<br>
    <p>
         <div>

          <img ng-src="images/Example6.png" ng-click="showImages(1,'images/Example6.png')" class="image-list-thumb"/>
        </div>
    </p>

<p>
<br>
  <i>
Notes on death certification:<br>
HIV infection and AIDS are not synonymous and even though it may seem redundant to specify HIV infection in the causal sequence of death, it is desirable to do so. By definition, AIDS is due to HIV infection, and there is a variable clinical course between the time of HIV infection and the onset of AIDS.
</i>
</p>
		</span>

    </div>
  </ion-content>
</ion-view>
