<ion-view>
  <ion-content class="padding" >
  <ion-scroll zooming="true" direction="xy" overflow-scroll="false" min-zoom="1">
    <div class="page-container">
		<!--<style include="custom-styles"></style>-->
		<span class="page-title">Welcome!&nbsp;<span class="covid-title"><a role="link" href="https://www.cdc.gov/nchs/data/nvss/vsrg/vsrg03-508.pdf">(COVID-19 Alert)</a></span></span>
		<hr class="hr"/>
		<span class="section-paragraph">
      <p>This quick guide application is designed to
      acquaint physicians, medical students, and others with the vital registration system in the United States
      and to provide instructions for completing death certificates. Emphasis is directed toward the
      certification of medical information, the primary responsibility of the physician, and a critical piece of
      information on the death certificate.</p>
      <p>
				  Quick Links:
				  <ul>
				   <!-- <li><a ui-sref="app.sidemenu({menuItemUrl:'anubis-part1.html'})">Part I: Direct Causes of Death</a></li>-->
				    <li><a role="link" menu-close="" ui-sref="app.sidemenu({menuItemUrl:'anubis-part1.html'})" ui-sref-active="active" href="#/app/sidemenu/anubis-part1.html">Part I: Direct Causes of Death</a></li>
			      <li><a role="link" menu-close="" ui-sref="app.sidemenu({menuItemUrl:'anubis-part2.html'})" ui-sref-active="active" href="#/app/sidemenu/anubis-part2.html">Part II: Other Significant Conditions Contributing to Death</a></li>
				  <!--  <li><a ui-sref="app.sidemenu({menuItemUrl:'anubis-examples-ch1.html'})">Examples</a></li>-->
			 			<!--<li><a menu-toggle="left" ng-click="showExamples()">Examples</a></li>-->
            <li><a role="link" menu-close="" ui-sref="app.sidemenu({menuItemUrl:'anubis-examples-ch1.html'})" ui-sref-active="active" href="#/app/sidemenu/anubis-exmpales-ch1.html">Examples</a></li>

				  </ul>
      </p>
		</span>
  </div>
  </ion-scroll>
  </ion-content>

</ion-view>
