<ion-view>
  <ion-content class="padding">
    <div class="page-container">
      <!--<style include="custom-styles"></style>-->
      <span class="page-title">General Instructions</span>
      <hr class="hr" />
      <!-- <span class="section-title">General Instructions for Completing Death Certificates</span> -->
      <span class="section-paragraph">
        <p>
          It is essential that the certificate be prepared accurately and in a timely fashion. Funeral directors are responsible for completing most of the information on the death certificate with the assistance of an informant who is usually a family member.
        </p>
        <br>
        <p>
          Completing a death certificate involves the following general guidelines:
        </p>
        <ul>
          <li>Use the electronic system or current paper form designated by the jurisdiction.</li>
          <li>Complete each item, following the specific instructions for that item.</li>
          <li>If not certifying electronically, make the entry legible. Use a computer printer with high resolution or print legibly using permanent black ink.</li>
          <li>Do not use abbreviations except those recommended in the specific item instructions.</li>
          <li>Obtain all signatures; rubber stamps or other facsimile signatures are not acceptable. If your jurisdiction allows, authenticate electronically.</li>
          <li>Do not make alterations or erasures.</li>
          <li>Submit the original certificate or report to the registrar. Reproductions or duplicates are not acceptable.</li>
          <li>Refer problems not covered in these instructions to the state office of vital statistics or local registrar.</li>
        </ul>
        <br>
        <p>
          Most jurisdictions require that the death certificate be completed and submitted within a specified time period. To determine the cause of death, physicians are expected to use:
        </p>
        <ul>
          <li>their medical training and knowledge of medicine,</li>
          <li>available medical history, including symptoms and diagnostic tests, and</li>
          <li>autopsy results, if available.</li>
        </ul>
        <br />
        <p>
          In some jurisdictions, it is possible to submit a certificate with the cause of death listed as pending or pending further investigation. This option is useful when additional information is expected, but it obligates the physician to update the certificate.
        </p>
      </span>



    </div>
  </ion-content>
</ion-view>
