<<ion-view>
  <ion-content class="padding">
    <div class="page-container">
      <!--<style include="custom-styles"></style>-->
      <span class="page-title">Advanced Age</span>
      <hr class="hr" />
      <!-- <span class="section-title">Advanced Age</span> -->
			<span class="section-paragraph">
If possible, the older decedent should have a clear and distinct etiological sequence for the cause of death.
                Terms such as senescence, infirmity, old age, advanced age, and failure to thrive have little value for public health or medical research.
                Age is recorded elsewhere on the certificate. "Multiple system failure" can be reported in Part II, but the systems need to be specified to ensure that this information is captured.
                After careful consideration, if the physician still cannot determine a sequence that ends in death, then the medical examiner or coroner should be consulted about conducting an investigation or providing assistance in completing the cause of death section.
		</span>

    </div>
  </ion-content>
</ion-view>
