<ion-view>
  <ion-content class="padding">
  <ion-scroll zooming="true" direction="xy" overflow-scroll="false" min-zoom="1">
    <div class="page-container">
      <!--<style include="custom-styles"></style>-->
      <span class="page-title">About Us</span>
      <hr class="hr" />
      <!-- <span class="section-title">Welcome</span> -->
			<span class="section-paragraph">
			The Mortality Statistics Branch is a part of the Division of Vital Statistics (DVS) at the National Center for Health Statistics (NCHS),
        which is within the Centers for Disease Control and Prevention. It is the mission of NCHS to provide accurate, relevant,
        and timely statistical information to inform policies with the goal of improving the health of the American people. DVS
        collaborates with the vital registration systems of various jurisdictions throughout the United States to collect, process,
        and analyze mortality data for the population, including geographic, demographic, and cause of death information. These data
        are used to determine the characteristics of those dying in the United States and to calculate mortality rates and life expectancies.
        For more information, please visit our webpage at <a ng-click="openUrl('http://www.cdc.gov/nchs/deaths.htm')")>http://www.cdc.gov/nchs/deaths.htm</a>,
        query data at <a ng-click="openUrl('https://wonder.cdc.gov')">https://wonder.cdc.gov</a>, or contact us at <a ng-click="openUrl('mailto:MortalityData@cdc.gov')">MortalityData@cdc.gov</a>.
		</span>
    <span class="section-paragraph">
      Please note: Although this application complies with Section 508 guidelines - affording content to be accessible to people with disabilities, if any accessibility issues do arise, please contact informaticslab@cdc.gov.  Full alternative (Section 508 compliant) content is always available in the ‘Resources’ section of the application.
    </span>


    </div>
    </ion-scroll>
  </ion-content>

</ion-view>
