<ion-view>
  <ion-content class="padding">
  <ion-scroll zooming="true" direction="xy" overflow-scroll="false" min-zoom="1">
    <div class="page-container">
      <!--<style include="custom-styles"></style>-->
      <span class="page-title">Certifying Cause of Death</span>
      <hr class="hr" />
      <span class="section-title">Overview</span>
      <span class="section-paragraph">
        <p>
          The cause of death section, a facsimile of which is shown below, follows guidelines recommended by the World Health Organization. While both the content and formatting of the cause of death section can vary by jurisdiction, the cause of
          death section consists of two major parts:
          <ul>
            <li><b>the direct causes of death or sequence leading to death (Part I), which includes the underlying cause of death (lowest line used in Part I)</b>, and </li>
            <li><b>other significant conditions contributing to death (Part II)</b>.</li>
          </ul>
        </p>
        <p>
          In addition to Parts I and II, there may be other questions regarding autopsy, tobacco use, pregnancy, and manner of death.
        </p>
        <br />
        <p>
          <ion-scroll direction="xy">
            <img alt="Certifying Cause of Death Form Image" ng-src="images/CauseofDeathSection.png" role="link" ng-click="showImages(0,'images/CauseofDeathSection.png')" class="image-list-thumb" />
          </ion-scroll>
        </p>
        <br />
        <p>
          The cause of death section is designed to elicit the opinion of the medical certifier. Causes of death on the death certificate represent a medical opinion that might vary among individual physicians. Regardless, a properly completed cause of death section provides an etiologic explanation of the type, order, and association of events resulting in death.
        </p>

        <p>
          In certifying the cause of death, only the diseases, abnormalities, or conditions believed to have contributed to death should be reported. The conditions present at the time of death may be causally related to each other, that is, one condition may lead to another, which in turn leads to a third condition, and so forth. Death may also result from the combined effect of two or more independent or completely unrelated conditions.
        </p>

        <!--<p>-->
        <!--The reported cause of death should include information provided by the pathologist if an autopsy or other type of postmortem examination is done. For deaths that have microscopic examinations pending at the time the certificate is filed, the additional information should be reported as soon as it is available. If the physician has any questions about this procedure, he or she should contact his or her state registrar.-->
        <!--</p>-->

      </span>

    </div>
    </ion-scroll>
  </ion-content>
</ion-view>
