<ion-view>
  <ion-content class="padding">
    		<div class="page-container">
		<!--<style include="custom-styles"></style>-->
		<span class="page-title">Common Problems in Death certification</span>
		<hr class="hr"/>
		<span class="section-title">Complex Situations</span>
		<span class="section-paragraph">
<p>Most certifiers will find themselves, at some point, in the circumstance in
which they are unable to provide a simple description of the process of
death. In this situation, the certifier should try to provide a clear sequence,
qualify the causes about which he/she is uncertain, and be able
to explain the certification chosen.
</p>
<p>
<b>When processes such as the following are reported, additional information
about the etiology should be reported:</b>
Abscess
Abdominal hemorrhage
Adhesions
Adult respiratory distress
syndrome
Acute myocardial infarction
Altered mental status Anemia
Anoxia Anoxic encephalopathy
Arrhythmia
Ascites
Aspiration
Atrial fibrillation
Bacteremia
Bedridden
Biliary obstruction
Bowel obstruction
Brain injury
Brain stem herniation
Carcinogenesis
Carcinomatosis
Cardiac arrest
Cardiac dysrhythmia
Cardiomyopathy
Cardiopulmonary arrest Cellulitis
Cerebral edema
32
Cerebrovascular accident Hemothorax Peritonitis
Cerebellar tonsillar herniation Hepatic failure Pleural effusions
Chronic bedridden state Hepatitis Pneumonia
Cirrhosis Hepatorenal syndrome Pulmonary arrest
Coagulopathy
Compression fracture
Congestive heart failure Convulsions
Hyperglycemia
Hyperkalemia
Hypovolemic shock Hyponatremia
Pulmonary edema Pulmonary embolism
Pulmonary insufficiency Renal failure
Decubiti Hypotension Respiratory arrest
Dehydration
Dementia (when not
otherwise specified)
Diarrhea
Immunosuppression
Increased intra cranial
pressure
Intra cranial hemorrhage
Seizures
Sepsis
Septic shock
Shock
Disseminated intra vascular Malnutrition Starvation
coagulopathy
Dysrhythmia
End-stage liver disease
End-stage renal disease
Epidural hematoma
Exsanguination
Failure to thrive
Metabolic encephalopathy
Multiorgan failure
Multisystem organ failure
Myocardial infarction Necrotizing soft-tissue infection
Old age
Subdural hematoma
Subarachnoid
hemorrhage
Sudden death Thrombocytopenia
Uncal herniation Urinary tract infection
Fracture Open (or closed) head Ventricular fibrillation
Gangrene
Gastrointestinal
injury
Pancytopenia
Ventricular tachycardia
Volume depletion
hemorrhage
Heart failure
Paralysis
Perforated gallbladder
</p>
<p>
If the certifier is unable to determine the etiology of a process such as
those shown above, the process must be qualified as being of an unknown,
undetermined, probable, presumed, or unspecified etiology so it is clear
that a distinct etiology was not inadvertently or carelessly omitted.
The following conditions and types of death might seem to be specific or
natural. However, when the medical history is examined further it may be
found to be complications of an injury or poisoning (possibly occurring
long ago). Such cases should be reported to the medical examiner or
coroner.
</p>
<p>
Asphyxia
Bolus
Choking
Drug or alcohol overdose/drug or alcohol abuse
Epidural hematoma
Exsanguination
Fall
Fracture
Hip fracture
Hyperthermia
Hypothermia
Open reduction of fracture
Pulmonary emboli
Seizure disorder
Sepsis
Subarachnoid hemorrhage Subdural hematoma
Surgery
Thermal burns/chemical burns
</p>
</span>

</div>
  </ion-content>
</ion-view>