<ion-view>
  <ion-content class="padding">
  <ion-scroll zooming="true" direction="xy" overflow-scroll="false" min-zoom="1">
    <div class="page-container">
      <!--<style include="custom-styles"></style>-->
      <span class="page-title">Medical Certification of Death</span>
      <hr class="hr" />
      <!-- <span class="section-title">Medical Certification of Death</span> -->
      <span class="section-paragraph">
        <p>
          The physician’s principal responsibility in death registration is to complete the medical part of the death certificate. The medical part of the death certificate includes two major subsections: the <b>pronouncement of death</b> and the <b>certification of the cause and manner of death.</b>
        </p>
        <br />
        <p>
          The pronouncement of death consists of:
        </p>
        <ul>
          <li>the date and time pronounced dead, if applicable</li>
          <li>the pronouncing physician’s information and signature, if applicable,</li>
          <li>the date and time of death, and</li>
          <li>whether the case was referred to the medical examiner or coroner.</li>
        </ul>
        <br />
        <p>
          The certification of the cause and manner of death consists of:
        </p>
        <ul>
          <li>the direct causes of death or sequence leading to death;</li>
          <li>other significant conditions contributing to death;</li>
          <li>autopsy information;</li>
          <li>tobacco use, if applicable;</li>
          <li>if female, pregnancy status;</li>
          <li>manner of death; and</li>
          <li>the certifier’s information and signature.</li>
        </ul>
        <br />
        <p>
          In many cases, the same physician will both pronounce the death and certify the cause of death. When the pronouncing physician is unavailable to
          certify the cause of death at the time of death, and if state law provides for this option, another physician may certify the cause of death.
          If an inquiry is required by a State Post-Mortem Examinations Act or other law or regulation, a medical examiner or coroner is responsible for determining the cause and manner of death.
        </p>
      </span>

    </div>
    </ion-scroll>
  </ion-content>
</ion-view>
