<ion-view>
  <ion-content class="padding">
    <div class="page-container">
      <!--<style include="custom-styles"></style>-->
      <span class="page-title">75-year-old Male with History of Chronic Bronchitis</span>
      <hr class="hr" />
      <!-- <span class="section-title">75-year-old Male with History of Chronic Bronchitis</span> -->
            <span class="section-paragraph">
<p>A 75-year-old male had a 10-year history of chronic bronchitis associated with smoking two packs of cigarettes a day for more than 40 years. When seen by his physician approximately 2 years prior to his terminal episode, he had moderately reduced FEV1 and FVC with no response to bronchodilators. During his last year, he required corticosteroids to prevent wheezing and coughing at night; however, he was unable to reduce his smoking to less than one pack of cigarettes per day. When seen 3 months prior to his terminal episode, he had significantly reduced FEV1 and FVC with no response to bronchodilators. He awoke one evening complaining to his wife about coughing and worsening shortness of breath. He was taken to the emergency room where he was found to have an acute exacerbation of obstructive airway disease. He was admitted to the hospital. At the patient’s request, no mechanical ventilation was employed, and he died 12 hours later in respiratory arrest.
</p>
<br/>
    <p>
        <div>

          <img ng-src="images/Example7.png" ng-click="showImages(1,'images/Example7.png')" class="image-list-thumb"/>
        </div>
    </p>

<p>
    <br/>
<i>
Notes on death certification:<br/>
In this case, respiratory arrest is considered a mechanism of death, and it would not be listed as the immediate cause of death.
</i>
</p>
		</span>

    </div>
  </ion-content>
</ion-view>
