<ion-view>
  <ion-content class="padding">
  <ion-scroll zooming="true" direction="xy" overflow-scroll="false" min-zoom="1">
    <div class="page-container">
      <!--<style include="custom-styles"></style>-->
      <span class="page-title">Amending Cause of Death</span>
      <hr class="hr" />
      <!-- <span class="section-title">Welcome!</span> -->
            <span class="section-paragraph">
	<p>Should additional medical information or autopsy findings become available that would change the cause or causes of death originally reported,
      the certifying physician should amend the original death certificate by immediately filing a supplemental report of cause of death with the state vital records office or local registrar.
      Information on the proper procedure to follow can be obtained from the local registrar.</p>

    </span>
    </div>
    </ion-scroll>
  </ion-content>
</ion-view>
