<ion-view>
  <ion-content class="padding">
  <ion-scroll zooming="true" direction="xy" overflow-scroll="false" min-zoom="1">
    <div class="page-container">
      <!--<style include="custom-styles"></style>-->
      <span class="page-title">Introduction</span>
      <hr class="hr" />
      <span class="section-title">Importance of Death Registration</span>
      <span class="section-paragraph">
      <p>The death certificate is a permanent legal record of the fact of death, and depending on the state of death, may be needed to get a burial or cremation permit.
        The death certificate provides important personal information about the decedent and the cause of death. This information has many uses related to:
      <ul>
      <li>the settlement of the estate and providing family members closure, peace of mind, and documentation of the cause of death, as well as</li>
      <br/>
      <li>local, state, and national mortality statistics, which are used to determine which medical conditions receive research and development funding, to set public health goals, and to measure health status at local, state, national, and international levels.</li>
      </ul>
        </p>
    </span>
    </div>
    </ion-scroll>
  </ion-content>
</ion-view>
