<ion-view>
  <ion-content class="padding">
  <ion-scroll zooming="true" direction="xy" overflow-scroll="false" min-zoom="1">
    <div class="page-container">
      <!--<style include="custom-styles"></style>-->
      <span class="page-title">30-year-old Gravida-six, Para-five, with a History of Gestational Hypertension</span>
      <hr class="hr" />
      <!-- <span class="section-title">30-year-old Gravida-six, Para-five, with a History of Gestational Hypertension</span> -->
            <span class="section-paragraph">
<p>A 30-year-old, gravida-six, para-five, with a history of gestational hypertension, reported to the emergency room at 36 weeks gestation with complaints of abdominal cramping and light vaginal bleeding during the past 12 hours.
  At time of first assessment, fetal heart tones were detected. The uterus was tense, irritable, and tender. The mother was hypotensive with tachycardia.
  A presumptive diagnosis of abruptio placenta was made, and an emergency cesarean section was performed under general anesthesia. The baby was stillborn.
  The mother continued to bleed from her uterus and phlebotomy sites and went into profound shock secondary to disseminated intravascular coagulation.
  Despite administration of blood and clotting factors, intravascular pressure could not be maintained, and the mother died on the operating table. Maternal autopsy confirmed the clinical diagnosis.
  A death certificate would be completed for the mother and a fetal death report for the fetus. The cause of fetal death is reported using a different format.
  Please refer to the <a role="link" ng-click="openUrl('http://www.cdc.gov/nchs/data/misc/hb_me.pdf')"><i>Medical Examiners’ and Coroners’ Handbook on Death Registration and Fetal Death Reporting</i></a> for further information.
</p>
<br/>
    <p>
        <div>
              <img alt="Example - 30-year-old Gravida-six, Para-five, with a History of Gestational Hypertension" ng-src="images/Example11a.png" role="link" ng-click="showImages(1,'images/Example11a.png')" class="image-list-thumb"/>
         </div>
    </p>

<p>
    <br/>
<i>
Notes on death certification:<br/>
In this case, gestational hypertension would be considered a factor that contributed to the death. However, it would not be in the direct causal sequence of Part I, so it would be reported in Part II.
</i>
</p>
<br/>
    <p>
       <div>
              <img alt="Cause/Conditions Contributing to Fetal Death" ng-src="images/Example11b.png" role="link" ng-click="showImages(1,'images/Example11b.png')" class="image-list-thumb"/>
         </div>
    </p>


		</span>

    </div>
    </ion-scroll>
  </ion-content>
</ion-view>
