/* Empty. Add your own CSS if you like */
.drawer {
	background-color: #f37018;
}

hr.hr{height: 3px;
    border: 0;
    background-color: #f37018;
}
.menu-icon{
  color: white;
}

.hangingindent {
  margin-left: 40px ;
}

.page-container{
	padding:20px;
}
.page-title{
display: block;
font-family:  sans-serif;
font-size: 29px;
font-weight: 200;
height:50px;
margin-top: 10px;
margin-bottom: 20px;
line-height: 100%;
}

.section-title{
display: block;
font-family: sans-serif;
font-size: 24px;
font-weight: 200;
margin-top: 30px;
line-height: 100%;
margin-bottom: 20px;
}

.section-paragraph{
display: block;
font-family: sans-serif;
font-size: 15px;
font-weight: 500;
margin-top: 10px;
}

.hr-menu {
	color:#eee;
	margin:0px;
	padding:0px;
	border:1px solid;
}

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

img.container{
	display:block;
	width:100%;
	max-width:800px;
	height:auto;
	margin: auto;
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: auto;
    width: 90%;
    margin : auto;
    display: block;


}


.image {
    width: 100%;
    height: 800px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}

.slider {
    width: 100%;
    height: 100%;
}

.item.active {
    &.item-positive > a {
        @include item-active-style($item-positive-active-bg, $item-positive-active-border);
   }
}

ion-popover-view.fit {
  height: auto !important;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px !important;
}

ion-scroll{
  height:100%;
}

.menu-animated {
  -webkit-transition: -webkit-transform 600ms ease;
  -moz-transition: -moz-transform 6000ms ease;
  transition: transform 600ms ease; }

@-webkit-keyframes slideInSmooth {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0); } }

.slide-in {
  -webkit-animation: slideInSmooth ease-in 1;
  animation: slideInSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 750ms;
  animation-duration: 600ms; }

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

@media (max-width: 767px) {

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

}


